.ingredients-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
  font-family: 'Fraunces', serif;
}

.ingredients-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.instructions-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  border: solid;
  font-family: 'Fraunces', serif;
}
.instructions-list {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 20px;
  text-align: left;
}
.delete-button-div {
  margin: 20px;
  margin-top: 25px;
}
.recipe-button-edit {
  border-top: 1px solid #0d0d0d;
  background: #d66598;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#de383a),
    to(#d66598)
  );
  background: -webkit-linear-gradient(top, #de383a, #d66598);
  background: -moz-linear-gradient(top, #de383a, #d66598);
  background: -ms-linear-gradient(top, #de383a, #d66598);
  background: -o-linear-gradient(top, #de383a, #d66598);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: white;
  font-size: 14px;
  font-family: Georgia, Serif;
  text-decoration: none;
  vertical-align: middle;
  font-weight: bold;
  font-family: 'Fraunces', serif;
  margin: 15px;
}
.recipe-button:hover {
  border-top-color: #590215;
  background: #590215;
  color: #ccc;
}
.recipe-button:active {
  border-top-color: #4a0707;
  background: #4a0707;
}
.recipe-tag-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.edit-button-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.edit-message{
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  margin-top: 25px;
}
