.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-family: 'Fraunces', serif;
}
.sign-up-button-div {
  display: flex;
  flex-direction: column;
}
.sign-up-p {
  margin-bottom: 5px;
}
.login-page-buttons {
  box-shadow: inset 0px 0px 14px -3px #b5b8ae;
  background: linear-gradient(to bottom, #681b1b 5%, #300707 100%);
  background-color: #3c3d41;
  border-radius: 6px;
  border: 1px solid #b8b0ad;
  display: inline-block;
  cursor: pointer;
  color: #f2d0d0;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  margin-top: 15px;
  height: 35px;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #0b0b0c;
  font-weight: bold;
  font-family: 'Fraunces', serif;
}

/*-----GROUPS AND ITEMS (DESKTOP)-----*/

@media all and (min-width: 800px) {
  .loginForm {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  font-family: 'Fraunces', serif;
  }

  .sign-up-p {
    text-align: center;
  }
}
