.landing-page-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.landing-page-info {
  font-size: 15px;
  color: rgb(34, 16, 16);
  font-family: 'Fraunces', serif;
  font-weight: bold;
  margin: 15px;
}
.login-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 4px solid rgb(101, 31, 31);
  border-bottom: 4px solid rgb(101, 31, 31);
  padding: 10px;
  font-family: 'Fraunces', serif;
  background-color: rgb(196, 135, 135);
}
.landing-page-p {
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin: 7px;
  font-family: 'Fraunces', serif;
  font-weight: bold;
}
/* .line{
  border: 4px solid rgb(101, 31, 31);
  border-radius: 5px;
} */
@media all and (min-width: 800px) {
  .landing-page-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .landing-page-info {
    font-size: 15px;
  color: rgb(34, 16, 16);
  font-family: 'Fraunces', serif;
  font-weight: bold;
  margin: 15px;
  width: 500px;
  }
  .login-info {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid rgb(101, 31, 31);
  padding: 10px;
  font-family: 'Fraunces', serif;
  background-color: rgb(196, 135, 135);
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  }
  .landing-page-p {
    font-size: 15px;
  color: rgb(0, 0, 0);
  margin: 7px;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  }
}
