.list-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    border: solid #1f1817;
    background-color: #682907;
    margin-top: 15px;
  }
  .recipe-title{
      font-size: 20px;
      text-decoration: none;
      color: white;
  }

  